@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Work+Sans:ital,wght@1,200;1,300&display=swap');


html {
    height: 100%;
    height: 100%;
}
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
#menu a {
    color: rgb(255, 33, 33);
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
#menu a:hover {
    color: rgb(3, 0, 192);
    transition: all .3s;

}
#header #logo {
    color: rgb(255, 18, 18);
    margin-left: 20px;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}
#header {
   
    box-sizing: border-box;
    height: 70px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e7e7e7;
}
#menu {
    display: flex;
    list-style: none;
    gap: .6em;
}
#menu a {
    display: inline-block;
    margin-top: 6px;
    padding: .5em;
}
#btn-mobile {
    display: none;
}
#abre-modal {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 300px;
    outline: none;
    border: 1px solid #d9d9d9;
    background-color: blue;
    color: #ff0f0f;
}
#abre-modal:hover {
    background-color: #ff0f0f;
    color: blue;
    transition: all .3s;
}
#home {
    margin-top: 75px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
	color: #fff;
}

#cartao {
    border-radius: 30px;
	margin-top: 15px;
	margin-bottom: 10px;
	position: relative;
}

#cartao:hover {
	cursor: pointer;
	box-shadow: 1px 1px 5px #000;
	transition: all .6s;
	bottom: 5px;
	z-index: 4px;
}
#video {
    margin-top: 10px;
    border-radius: 20px;
}
#secao-4 {
    padding: 15px;
    margin: 15px;
}
#compra {
    border-radius: 300px;
}
.btn-custom {
	color: #fff;
	border-radius: 500px;
	transition: background 0.6s, color 0.4s;
}

.btn-coracao {
	background: blue;
}
#coracao {
    border-radius: 300px;
}
.btn-coracao:hover {
	background: #ff1616;
	color: #fff;
	
}

.btn-carrinho{
	background: blue;
}
.btn-carrinho:hover {
	background: #ff1616;
	color: #fff;
	
}
#carrinho {
    border-radius: 300px;
}
#imagem {
    border-radius: 30px;
}
.btn-cartao {
    
	background: #ff1616;
	color: #fff;
}
.btn-cartao:hover {
    transition: all .6s;
	background: blue;
    color: #fff;

}

#img-carrossel-1 {
    border-radius: 20px;
    
}
#botao-banner {
    border: 2px solid #ff0f0f;
    cursor: pointer;
    padding: 15px;
    width: 200px;
    margin-right: 20px;
    background: none;
    border-radius: 300px;
    outline: none;
    font-weight: bold;
    color: #ff0f0f;
}

#botao-banner-2 {
    border: 2px solid #fff;
    cursor: pointer;
    padding: 15px;
    width: 200px;
    margin-right: 20px;
    background: none;
    border-radius: 300px;
    outline: none;
    font-weight: bold;
    color: #fff;
}
#botao-banner-2:hover {
    transition: all .6s;
    background: #fff;
    color: blue;
}
#botao-banner:hover {
    transition: all .6s;
    background: #ff0f0f;
    color: #fff;
}
#img-carrossel-2 {
    border-radius: 20px;
}

.carousel-control-next, .carousel-control-prev {
	width: 1%;
    
}
.carousel-control-next .fas {
    color:  rgba(0, 0, 0, 0.6);
}
.carousel-control-prev .fas {
    color: rgba(0, 0, 0, 0.6);
}

#modal {
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: none;
    overflow-y: auto;
    z-index: 30000;
    animation: animate;
    animation-duration: 800ms;
}

#cont-modal {
    display: flex;
    margin-top: 200px;
    margin-left: 80px;
    width: 80%;
    height: 200px;
    justify-content: center;
    align-items: center;
}
#cont-modal input {
    width: 80%;
    height: 50px;
    color: #fff;
    font-size: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    background: none;
    
}
#avaliacao {
    color: rgb(255, 234, 4);
}
#usuario{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#marcas {
    text-align: center;
}
#cont-modal input::placeholder {
    color: #fff;
}
#area-fechar {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
#area-fechar .fa-solid {
    color: #fff;
}

#secao-2 {
    margin-top: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
#secao-3 {
    background: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}
#secao-5 {
    background: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}
.flutua {
    position: relative;
    animation-name: animacao-img;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: 0.5s;

}
@keyframes animacao-img{
    from {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    to {
        top: 10px;
        left: 10px;
        bottom: 10px;
        
        right: 10px;
    }
}
#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar {
    width: 5px;
    
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ff0f0f;
    height: 3px;
}



footer {
	background: #000;
	padding: 50px 0 20px 0;
	position: relative;
}

footer h4 {
	color: #919496;
	font-size: 0.8em;
	text-transform: uppercase;
}


footer .navbar-nav a {
	color: #fff;
	font-size: 0.8em;
}

footer .navbar-nav a:hover {
	color: #ff1616;
	text-decoration: none;
	transition: 0.3s;
}

footer ul {
	list-style: none;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}
footer ul li a i{
	color: #ff1616;
}

footer ul li a i:hover {
	color: #d9d9d9;
	transform: rotate(10deg);
	transition: 0.2s;
}

@keyframes animate {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#voltar {
    margin-top: 10px;
    margin-left: 15px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
}
#voltar .fa-solid:hover {
    color: #ff0f0f;
    transition: all .3s;
}

    

@media (max-width: 600px) {
    #btn-mobile {
        display: block;
        outline: none;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;

    }
    
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    
    }
    #nav.active #btn-mobile i{
        rotate: 90deg;
        transition: all .6s;
    }
     #modal {
    
        overflow-y: auto;
        z-index: 30000;
        
    }
    #nav #btn-mobile i {
        color: rgb(253, 21, 21);
        transition: all .6s;
    }
    #menu a {
        padding: 1em 0;
        margin: 0 1em;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
    #btn-mobile {
        padding: .5em 1em;
        border: none;
        background: none;
        color: black;
        cursor: pointer;
    }
}