@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Work+Sans:ital,wght@1,200;1,300&display=swap');


html {
    height: 100%;
    height: 100%;
}
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
#menu a {
    color: rgb(255, 33, 33);
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
#menu a:hover {
    color: rgb(3, 0, 192);
    transition: all .3s;

}
#header #logo {
    color: rgb(255, 18, 18);
    margin-left: 20px;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}
#header {
   
    box-sizing: border-box;
    height: 70px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e7e7e7;
}
#menu {
    display: flex;
    list-style: none;
    gap: .6em;
}
#menu a {
    display: inline-block;
    margin-top: 6px;
    padding: .5em;
}
#btn-mobile {
    display: none;
}
#abre-modal {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 300px;
    outline: none;
    border: 1px solid #d9d9d9;
    background-color: blue;
    color: #ff0f0f;
}
#abre-modal:hover {
    background-color: #ff0f0f;
    color: blue;
    transition: all .3s;
}

#titulo-fav {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}


.btn-custom {
	color: #fff;
	border-radius: 500px;
	transition: background 0.6s, color 0.4s;
}

#modal {
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: none;
    overflow-y: auto;
    z-index: 30000;
    animation: animate;
    animation-duration: 800ms;
}

#cont-modal {
    display: flex;
    margin-top: 200px;
    margin-left: 80px;
    width: 80%;
    height: 200px;
    justify-content: center;
    align-items: center;
}
#cont-modal input {
    width: 80%;
    height: 50px;
    color: #fff;
    font-size: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    background: none;
    
}


#heart {
    border: none;
    outline: none;
    color: #ff1616;
    margin-top: 8px;
    background: none;
    cursor: pointer;
}
#heartcheck {
    border: none;
    display: none;
    outline: none;
    color: #ff1616;
    margin-top: 8px;
    background: none;
    cursor: pointer;
}
#heartcheck:hover{
    transition: all .6s;
    color: blue;
}
#heart:hover {
    transition: all .6s;
    color: blue;
}
#areaFavoritos {
    right: 0;
    top: 0;
    width: 80%;
    overflow-x: hidden;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    display: none;
    z-index: 3000;
    background-color: rgba(0, 0, 0, .9);
    animation: favoritos;
    animation-duration: 800ms;
}
#secaofavoritos {
    list-style-type: none;
    
}
#secaofavoritos li {
    margin-top: 20px;
    margin-left: 10px;
    width: 330px;
    background-color: #fff;
    transition: .5s ease-in-out;
    border-radius: 20px;
    
}
#secaofavoritos li a {
    border-radius: 20px;
}
button.botacao {
    border-radius: 30px;
    padding: 15px;
    margin-top: 20px;
    border: none;
    outline: none;
    background-color:  rgb(145, 143, 143);
    color: #fff;
    margin-right: 15px;
    cursor: pointer;
}
button.botacao:hover {
    background-color: black;
    transition: all .6s;
}

#botoes{
    display: flex;
    justify-content: space-between;
}
#secaofavoritos li:hover{
    cursor: pointer;
	transition: all .6s;
    transform: scale(1.02);
    /*filter: brightness(120%);*/
	bottom: 5px;
	z-index: 50px;
}
#secaofavoritos li button {
    border-radius: 20px;
}
#secaofavoritos li .btn-carrinho{
    display: none;
}
#secaofavoritos li .btn-coracao{
    display: none;
}
#secaofavoritos li img {
    border-radius: 20px;
}
#sair {
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ff0f0f;
    background: none;
}
#sair:hover{
    color: #900000;
    transition: all .6s;
}
@keyframes favoritos {
    from {
        width: 0;

    }
    to{
        width: 80%;
    }
}

#cont-modal input::placeholder {
    color: #fff;
}
#area-fechar {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
#area-fechar .fa-solid {
    color: #fff;
}

#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar {
    width: 5px;
    
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ff0f0f;
    height: 3px;
}



footer {
	background: #000;
	padding: 50px 0 20px 0;
	position: relative;
}

footer h4 {
	color: #919496;
	font-size: 0.8em;
	text-transform: uppercase;
}


footer .navbar-nav a {
	color: #fff;
	font-size: 0.8em;
}

footer .navbar-nav a:hover {
	color: #ff1616;
	text-decoration: none;
	transition: 0.3s;
}

footer ul {
	list-style: none;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}
footer ul li a i{
	color: #ff1616;
}

footer ul li a i:hover {
	color: #d9d9d9;
	transform: rotate(10deg);
	transition: 0.2s;
}

@keyframes animate {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#voltar {
    margin-top: 10px;
    margin-left: 15px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
}
#voltar .fa-solid:hover {
    color: #ff0f0f;
    transition: all .3s;
}

    

@media (max-width: 900px) {
    html {
        overflow-x: hidden;
    }
    body {
        overflow-x: hidden;
    }
    #logo h1{
        font-size: 20px;
    }
    #btn-mobile {
        display: block;
        outline: none;
    }
    #abre-modal {
        width: 40px;
        height: 40px;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;

    }
    #secaofavoritos li {
        margin-right: 15px;
    }
    #cont-modal {
        margin-right: 85px;
        overflow-x: hidden;
    }
    #cont-modal input{
        
        width: 60%;
    }
    
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    
    }
    #nav.active #btn-mobile i{
        rotate: 90deg;
        transition: all .6s;
    }
     #modal {
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 30000;
        
    }
    #nav #btn-mobile i {
        color: rgb(253, 21, 21);
        transition: all .6s;
    }
    #menu a {
        padding: 1em 0;
        margin: 0 1em;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
    #btn-mobile {
        margin-right: 35px;
        padding: .5em 1em;
        border: none;
        background: none;
        color: black;
        cursor: pointer;
    }
}